@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme{
    --font-orbitron: Orbitron, sans-serif;
    --font-inter: Inter, san-serif;
    --font-rajdhani: Rajdhani, sans-serif;

    --color-navy-dark: #0a0f1a;
    --color-white: #ffffff;
    --color-gray-light: #b0b8c1;
    --color-gray-dark: #111827;
    --color-cyan: #00ffff;
    --color-cyan-light: #00e6e6;
}